In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/kaggle/input/house-rent-price-prediction-dataset-for-buca/rent_price_dataset_buca.csv')
df.head()

,location,num_rooms,gross,building_age,floor_type,furnishing_status,price
0,merkez,4,135,18,intermediate,0,6000
1,merkez,2,50,4,intermediate,1,5000
2,merkez,2,60,0,intermediate,0,6000
3,merkez,2,55,0,intermediate,0,6000
4,merkez,2,55,0,intermediate,0,6000

In [3]:
df.columns

Index(['location', 'num_rooms', 'gross', 'building_age', 'floor_type',
       'furnishing_status', 'price'],
      dtype='object')

In [4]:
df.dtypes

location             object
num_rooms             int64
gross                 int64
building_age          int64
floor_type           object
furnishing_status     int64
price                 int64
dtype: object

In [5]:
df_new=pd.get_dummies(df,columns=['location','floor_type'])
df_new.reset_index(drop=True)
df=df.merge(df_new)
#df=df.drop('location',axis=1)
#df=df.drop('floor_type',axis=1)
df.head()

,location,num_rooms,gross,building_age,floor_type,furnishing_status,price,location_iscievleri,location_merkez,location_sirinyer,floor_type_garden,floor_type_ground,floor_type_intermediate,floor_type_top
0,merkez,4,135,18,intermediate,0,6000,0,1,0,0,0,1,0
1,merkez,2,50,4,intermediate,1,5000,0,1,0,0,0,1,0
2,merkez,2,60,0,intermediate,0,6000,0,1,0,0,0,1,0
3,merkez,2,55,0,intermediate,0,6000,0,1,0,0,0,1,0
4,merkez,2,55,0,intermediate,0,6000,0,1,0,0,0,1,0

In [6]:
df=df.drop('location',axis=1)
df=df.drop('floor_type',axis=1)
df.head()

,num_rooms,gross,building_age,furnishing_status,price,location_iscievleri,location_merkez,location_sirinyer,floor_type_garden,floor_type_ground,floor_type_intermediate,floor_type_top
0,4,135,18,0,6000,0,1,0,0,0,1,0
1,2,50,4,1,5000,0,1,0,0,0,1,0
2,2,60,0,0,6000,0,1,0,0,0,1,0
3,2,55,0,0,6000,0,1,0,0,0,1,0
4,2,55,0,0,6000,0,1,0,0,0,1,0

In [7]:
#making model
model=LinearRegression()
x=df.drop("price",axis=1)
y=df["price"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
len(x_test),len(x_train),len(y_test) ,len(y_train)

(30, 118, 30, 118)

In [8]:
model.fit(x_train,y_train)
y_preds=model.predict(x_test)
len(y_preds),len(y_test)

(30, 30)

In [9]:
from sklearn.metrics import r2_score,mean_absolute_error
r2_score(y_test,y_preds)

0.466540374689156